<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/common :: head('Cart')">
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('cart')">
	</nav>
	<div th:replace="fragments/section :: cart_section">
	</div>
</body>
	<script type="text/javascript" src="js/jquery.cookie.js"></script>
	<script type="text/javascript" src="js/cartDetail.js"></script>


</html>