<!doctype html>
<html>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <link href="assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
	<script src="assets/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="js/jquery.cookie.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous">
    </script>
    <!-- sign CSS & Script-->
    <script type="text/javascript" src="js/sign.js" charset="UTF-8"></script>


    <title>Sign in first</title>
  </head>
  <body class="text-center">
  
	<div class="index_content">
    	<img class="mb-4" src="imgs/mm_favicon.png" alt="" width="90" height="90">
		<p id="index_head_text">Movie Mentor</p>
			<pre id="index_text">
당신의 취향을 길러주는 멘토

Movie Mentor는 아직 취향이 확립되지 않았거나
어떤 영화를 보면 좋을지 고민하는 당신에게
길잡이가 되어드립니다.
			</pre>
	</div>

	
	<main class="form-signin" th:replace="${logined} ? ~{fragments/sign :: Logined} : ~{fragments/sign :: nonLogin}">
	    <p >로그인 상태면 '홈으로 가기' 링크가, 아니면 로그인 창이 나옴</p>
	</main>

   
</body>

</html>