#chat_section {
    float: left;
    flex-grow: 0;
    min-width: 33.333333%;
    max-width: 33.333333%;
    flex-basis: 33.333333%;
    height: 100%;
}

.chatbody{
    height: 95%;
    margin-left: 10px;
    margin-bottom: 10px;
    border-color: #2c3e50! important;
}

.panel-primary {
    border-color: #2c3e50! important;
}

.panel{
    height: 95%;
    margin-bottom: 0px;
    border-radius: 0px! important;
}

.panel-heading{
	border-radius: 0px! important;
	/*border-color: #2c3e50! important;*/
	/*background-color: #2c3e50! important;*/
}

.panel-primary>.panel-heading {
    color: #fff;
    background: linear-gradient(to right, #870000, #190a05)! important;
	border-color: #190a05! important;
}

.mytext{
    border:0;
    padding:10px;
    background:whitesmoke;
}
.text{
    width:85%;
    display:flex;
    flex-direction:column;
}
.text > p:first-of-type{
    width:100%;
    margin-top:0;
    margin-bottom:auto;
    line-height: 13px;
    font-size: 12px;
}
.text > p:last-of-type{
    width:100%;
    text-align:right;
    color:silver;
    margin-bottom:-7px;
    margin-top:auto;
}

.text-l{
    float:left;
    padding-right:10px;
    padding-left:20px;
    color: white! important;
}

.text-l > p:last-of-type{
	color: white! important;
}

.text-r > p:last-of-type{
	color: gray! important;
}

.text-r{
    float:right;
    padding-left:10px;

}
.avatar{
    display:flex;
    justify-content:center;
    align-items:center;
    width:25%;
    float:left;
    padding-right:10px;
}
.macro{
    margin-top:5px;
    margin-left:5px! important;

    margin-right:5px! important;

    width:100%;
    border-radius:5px;
    padding:5px;
    display:flex;
}
.msj-rta{
    float:right;
    /*background:whitesmoke;
    background:	#A52A2A;*/
    background: #870000;

}
.msj{
    float:left;
    background:white;
}
.frame{
    /* background:#2c3e5014; */
    /*background: linear-gradient(to right, #485563, #29323c);*/
    background: linear-gradient(to right, #232526, #414345);
    height: 95%;
    min-width:100%;
    margin:0;
    overflow:hidden;
    padding:0;
    
}
.frame > div:last-of-type{
    position:absolute;
    bottom:5px;
    width:100%;
    display:flex;
}
.message-box {
    width:100%;
    list-style-type: none;
    padding:18px;
    position:absolute;
    bottom:32px;
    display:flex;
    flex-direction: column;
    overflow-y: auto;
    height: 94% ! important;
    padding-bottom: 0px! important;
	padding-top: 30px! important;
    margin-bottom: 35px! important;
    /*height: 600px;*/
}

.message-box::-webkit-scrollbar {
	width: 10px;
}

.message-box::-webkit-scrollbar-track { 
	background-color: linear-gradient(to right, #485563, #29323c); 
}

.message-box::-webkit-scrollbar-thumb { 
    background: #f0f0f0;

}

.message-box::-webkit-scrollbar-button { 
	display: none; 
}

.msj:before{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:-14px;
    position:relative;
    border-style: solid;
    border-width: 0 13px 13px 0;
    border-color: transparent white transparent transparent;            
}
.msj-rta:after{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:14px;
    position:relative;
    border-style: solid;
    border-width: 13px 13px 0 0;
    border-color: #870000 #870000 transparent transparent;           
} 

.msj-rta::p{
	color: white;	
}

input:focus{
    outline: none;
}        
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #d4d4d4;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #d4d4d4;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #d4d4d4;
}
:-moz-placeholder { /* Firefox 18- */
    color: #d4d4d4;
}   