.search-box
{
	position: relative;
	height: 60px;
	width: 60px!;	
	margin-right: 15px;
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box.active{
	width: 350px;
	margin-right: 15px; 
}

.search-box input
{
	height: 100%;
	height:45px;
	margin-top:8px;
	width: 100%;
	border: none;
	outline: none;
	background: #fff;
	font-size: 18px;
	border-radius: 50px;
	padding: 0 60px 0 20px;
	opacity: 0;
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box input.active{
	opacity: 1;	
}

.search-box .search-btn
{
	position: absolute;
	top: 50%;
	right: 0px;
	z-index: 1;
	transform: translateY(-50%);
	height: 40px;
	width: 40px;
	color: #870000;
	background: #fff;
	line-height: 40px;
	font-size: 22px;
	text-align: center;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box .search-btn.active
{
	right: 5px;
	height: 40px;
	width: 40px;
	color: #fff;
	background: #870000;
	line-height: 40px;
	font-size: 20px;
	transform: translateY(-50%) rotate(360deg);
	
}
/*
.search-box .cancel-btn
{
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	color: #fff;
	font-size: 25px;
	cursor: pointer;
	transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box .cancel-btn.active
{
	right: -40px;
	transform: translateY(-50%) rotate(360deg);
	color: #fff;
	line-height: 50px! important;
}
*/

.fa-times{
	color: #fff;
}

.fa-times:before {
    margin-right: 50px! important;
}

.memberInfoBtns{
	float:right;
}

body {
    background-color: #111111! important;
}

#poster{
	display:block;
	margin: 0px auto;
	width: 15rem;
  	height: 23rem;
  	object-fit: cover;
}

.image_overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	color: #ffffff;
	font-family: 'Poppins', san-serif;
	display: flex; 
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.25s;
	
}

.image_overlay_blur
{
	backdrop-filter: blur(5px);
}

.image_overlay > *
{
	transform: translateY(20px);
	transition: transform 0.25s;
}

.image_overlay:hover
{
	opacity: 1;
}

.image_overlay:hover > *
{
	transform: translateY(0);
}

.image_movieStory
{
	font-size: 0.8em;
	font-weight: bold;
	padding-left: 40px;
	padding-right: 40px;
}

.movieDetailBtn
{
	position: relative;
	display: inline-block;
	padding: 10px 30px;
	text-decoration: none;
	text-transform: uppercase;
	/*color: rgba(255,255,255,0.4);*/
	color: #000; /*rgba(0,0,0,0.4);*/
	/*background: #262c37;*/
	background: #DCDCDC;
	letter-spacing: 2px;
	font-size: 16px;
	transition: 0.5s;

}

.movieDetailBtn:hover
{
	color: #870000;
}


.cartInsertBtn
{
	position: relative;
	display: inline-block;
	padding: 10px 30px;
	text-decoration: none;
	text-transform: uppercase;
	/*color: rgba(255,255,255,0.4);*/
	color: #000;/*rgba(0,0,0,0.4);*/
	/*background: #262c37;*/
	background: #FFD700;
	letter-spacing: 2px;
	font-size: 16px;
	transition: 0.5s;

}

.cartInsertBtn:hover
{
	color: #F8F8FF;
}

#home_section{
    width: auto;
    text-align: center;
    height: 100vh;
    position: relative;
    overflow-y:auto;
}

#movie_section{
	overflow-y:auto;
	/*height: 100vh;*/
	padding-left: 30px;
}

#movieDetail_section{
	overflow-y:auto;
	padding-left: 30px;
}

#result_section{
	padding-left: 50px;
}

#movie_main_title{
	padding-top:30px;
	padding-bottom:30px;
	/*border:1px solid #000000 ;*/
	/* border-radius:20px; */
    margin-left:15px;
    margin-right:15px;
    margin-bottom:10px;
    font-size:22px; 
    color: #fff;
    /*background: linear-gradient(to right, #232526, #414345);*/
	background: #111111;
	text-align: left;
}

#signOutBtn{
	color: #fff;
	margin-right: 30px;
	
}

#memberInfo{
	color: #fff;
}

#msgDiv{
	margin-right: 30px;
}

.table-striped{
	color: #fff;
}

.bg-secondary{
	background: #FFDCDC! important;
	color: #000! important;
}

/* .btn{
	border-radius: 0px! important;
} */

div.h-100{
	border-radius: 0px! important;
	background: transparent! important;
	color: #fff;
	height: 450px! important;
}

div.h-100-cart{
	border-radius: 0px! important;
	background: transparent! important;
	color: #fff;
	height:500px;
}

div.h-100-detail{
	background: #333;
	color: #f0f0f0;
	border-radius: 0px! important;
}

div.card-body{
	height:200px;
}

div.card-body-cart{
	height:750px! important;
	border: 2px solid #DAA520;
	width: 450px;
}

div.card-body-detail{
	height:650px;
	width: 200px;
}

div.col-md-6-detail {
    width: 100%;
}

div.col-lg-4-detail{
	padding-left: 15px;
	padding-right: 15px;
	max-width: 100%;
}

.navbar {
    border-radius: 0px! important;
    background: #222! important;
}

html{
    height: 100vh;

}

article{
    height: 100vh;
    margin-left:50px;
    margin-right:50px;
}

div {
    overflow:hidden;
    height:auto;
    display: block;
}