.search-box
{
	position: relative;
	height: 60px;
	width: 60px;	
	margin-right: 50px;
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box.active{
	width: 350px;
}

.search-box input
{
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	background: #fff;
	font-size: 18px;
	border-radius: 50px;
	padding: 0 60px 0 20px;
	opacity: 0;
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box input.active{
	opacity: 1;	
}

.search-box .search-btn
{
	position: absolute;
	top: 50%;
	right: 0px;
	z-index: 1;
	transform: translateY(-50%);
	height: 60px;
	width: 60px;
	color: #664AFF;
	background: #fff;
	line-height: 60px;
	font-size: 22px;
	text-align: center;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box .search-btn.active
{
	right: 5px;
	height: 50px;
	width: 50px;
	color: #fff;
	background: #664AFF;
	line-height: 50px;
	font-size: 20px;
	transform: translateY(-50%) rotate(360deg);
	
}

.search-box .cancel-btn
{
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	color: #fff;
	font-size: 25px;
	cursor: pointer;
	transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box .cancel-btn.active
{
	right: -40px;
	transform: translateY(-50%) rotate(360deg);
} 

body {
    /* padding-top: 5rem;
    background-color: #000! important;
    */
}

#poster{
	display:block;
	margin: 0px auto;
	width: 15rem;
  	height: 23rem;
  	object-fit: cover;

}

.image_overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	color: #ffffff;
	font-family: 'Poppins', san-serif;
	display: flex; 
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.25s;
	
}

.image_overlay_blur
{
	backdrop-filter: blur(5px);
}

.image_overlay > *
{
	transform: translateY(20px);
	transition: transform 0.25s;
}

.image_overlay:hover
{
	opacity: 1;
}

.image_overlay:hover > *
{
	transform: translateY(0);
}

.image_movieStory
{
	font-size: 0.8em;
	font-weight: bold;
}

.movieDetailBtn
{
	position: relative;
	display: inline-block;
	padding: 10px 30px;
	text-decoration: none;
	text-transform: uppercase;
	color: rgba(255,255,255,0.4);
	background: #262c37;
	letter-spacing: 2px;
	font-size: 16px;
	transition: 0.5s;

}

.movieDetailBtn:hover
{
	color: rgba(255,255,255,1);
}


.cartInsertBtn
{
	position: relative;
	display: inline-block;
	padding: 10px 30px;
	text-decoration: none;
	text-transform: uppercase;
	color: rgba(255,255,255,0.4);
	background: #262c37;
	letter-spacing: 2px;
	font-size: 16px;
	transition: 0.5s;

}

.cartInsertBtn:hover
{
	color: rgba(255,255,255,1);
}

#home_section{
    width: auto;
    text-align: center;
    height: 100vh;
    position: relative;
    overflow-y:auto;
}

#movie_section{
	overflow-y:auto;
	/*height: 100vh;*/
}

#movieDetail_section{
	overflow-y:auto;
}

#movie_main_title{
	padding-top:30px;
	padding-bottom:30px;
	/*border:1px solid #000000 ;*/
	/* border-radius:20px; */
    margin-left:15px;
    margin-right:15px;
    margin-bottom:10px;
    font-size:22px; 
    color: #fff;
    background: linear-gradient(to right, #232526, #414345);
}

#signOutBtn{
	margin-top:8px! important;
}

div.h-100{
	border-radius: 0px! important;
	background: transparent! important;
	color: #000;
	height: 450px! important;

}

div.card-body{
	height:200px;
}

div.card-body-cart{
	height:650px;
}

div.card-body-detail{
	height:650px;
	width: 200px;
}

div.col-md-6-detail {
    width: 100%;
}

div.col-lg-4-detail{
	padding-left: 15px;
	padding-right: 15px;
	max-width: 100%;
}

.navbar {
    border-radius: 0px! important;
    background: #000! important;
}

html{
    height: 100vh;

}

article{
    height: 100vh;
    margin-left:50px;
    margin-right:50px;
}

div {
    overflow:hidden;
    height:auto;
    display: block;
}