body {
    padding-top: 5rem;
}

#home_section{
    width: auto;
    text-align: center;
    height: 100vh;
    position: relative;
    overflow:scroll;
}

#movie_main_title{
	padding-top:30px;
	padding-bottom:30px;
	border:2px solid #000000;
	border-radius:20px;
    margin-left:15px;
    margin-right:15px;
    margin-bottom:10px;
    font-size:22px;
}

div.card-body{
	height:180px;
}

div.card-body-cart{
	height:200px;
}

div.card-body-detail{
	height:650px;
	width: 300px;
}

div.col-md-6-detail {
    width: 100%;
}

div.col-lg-4-detail{
	padding-left: 15px;
	padding-right: 15px;
	max-width: 100%;
}

html{
    height: 100vh;
}

article{
    height: 100vh;
}

div {
    overflow:hidden;
    height:auto;
    display: block;
}