<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="head(title)">
	
	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	    <!-- Optional JavaScript -->
	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

	    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	        crossorigin="anonymous">
	    </script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	        crossorigin="anonymous">
	    </script>
	    <!-- sign Script-->
	    <script type="text/javascript" src="js/sign.js" charset="UTF-8"></script>
	     <!--<script type="text/javascript" src="js/movieDetail.js" charset="UTF-8"></script>-->

	     <!-- Bootstrap core JavaScript -->
 		<script src="assets/dist/js/bootstrap.bundle.min.js"></script>
	   
	    <!-- Home page CSS & Script-->
	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	    <link href="starter-template.css" th:href="@{/starter-template.css}" rel="stylesheet">
	    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	
	    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	    <link href="" th:href="@{/chat.css}" rel="stylesheet">


	    <!-- <script type="text/javascript" src="js/search.js" charset="UTF-8"></script> -->
		<script type="text/javascript" src="js/cart.js" charset="UTF-8"></script>

		<script type="text/javascript" src="js/chat.js" charset="UTF-8"></script>

		
		<!-- Automated Search Function -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		
		<script type="text/javascript" src="js/autoSearch.js" charset="UTF-8"></script>

		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

		
	
	    <title th:text="${title}">Movie Mentor</title>

	</head>
	
	
	<body>  
	    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:fragment="menu(menu)">
	        <a class="navbar-brand" href="#" th:href="@{/home}">M M</a>
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
	            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
	            <span class="navbar-toggler-icon"></span>
	        </button>
	
	        <!-- 각 메뉴가 눌리면 active를 class 속성에 추가하여 빛이 들어오는 효과-->
	        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	            <ul class="navbar-nav mr-auto">
	                <li class="nav-item" th:classappend="${menu} == 'home'? 'active'">
	                    <a class="nav-link" href="#" th:href="@{/home}">홈 <span class="sr-only" th:if="${menu} == 'home'">(current)</span></a>
	                </li>
	                <li class="nav-item" th:classappend="${menu} == 'member'? 'active'">
	                    <a class="nav-link" href="#" th:href="@{/memberList}">회원 목록 <span class="sr-only" th:if="${menu} == 'member'">(current)</span></a>
	                </li>
	                <li class="nav-item" th:classappend="${menu} == 'memberInfo'? 'active'">
	                    <a class="nav-link" href="#" th:href="@{/memberInfo}">회원 정보 <span class="sr-only" th:if="${menu} == 'memberInfo'">(current)</span></a>
	                </li>
	                 <li class="nav-item" th:classappend="${menu} == 'cart'? 'active'">
	                    <a class="nav-link" href="#" th:href="@{/cart}">장바구니 <span class="sr-only" th:if="${menu} == 'cart'">(current)</span></a>
	                </li>
	            </ul>
	
	        </div>
        	<!-- 검색 창-->	        
	        <div>
	            <form class="form-inline my-2 my-lg-0" method="get" action="movieSearch">
	                <input class="form-control mr-sm-2" id= "autocompleteText" name="movieTitle" type="text" placeholder="Search" aria-label="Search">
	                <button class="btn btn-secondary my-2 my-sm-0" type="submit" value="Search">Search</button>
	            </form>
	        </div>

			
	        <!-- 로그인 상태 표시 칸-->
	        <ul class="navbar-nav mr-auto">
	            <li class="nav-item" th:if="${logined}">
            		<!-- 추후 회원 정보 링크로 변경 -->
                    <a class="nav-link" id="msgDiv" href="memberInfo"></a>
	            </li>
	            <li class="nav-item" th:if="${logined} == null">
                    <a class="nav-link" id="msgDiv" href="/">로그인 해주세요 <span class="sr-only">(current)</span></a>
	            </li>
	            <li class="nav-item" th:if="${logined}">
	            	<button class="btn btn-secondary my-2 my-sm-0" id="signOutBtn" >Sign out</button>
	            </li>
	        </ul>
	    </nav>     
           
	</body>  
</html>