<!DOCTYPE html>
<html>

<body>
	<main class="form-signin" th:fragment="nonLogin">
	  <div class="signin-container">
	  <form>
	    <div class="form-floating">
	      <input type="email" class="form-control" id="floatingID" placeholder="name@example.com">
	      <label for="floatingInput">ID</label>
	    </div>
	
	    <div class="form-floating">
	      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
	      <label for="floatingPassword">Password</label>
	    </div>
		
	    <button class="w-75 btn btn-lg btn-primary" id="signInBtn">로그인</button>
	    <!-- class="w-75 btn btn-lg btn-primary" -->
	    <br><br>
	    <div class="indexContainer">
	    <div class="findId" id="IDBtn" style="cursor:pointer;" onclick="window.open('findIdForm', '_blank', 'toolbar=yes,scrollbars=yes,resizable=yes,top=50,left=500,width=400,height=500');">아이디</div>
	    &nbsp<div >·</div>&nbsp
	    <!-- class="w-30 btn btn-lg btn-primary" -->
	    <div class="findPw" id="PWBtn" style="cursor:pointer;" onclick="window.open('findPwForm', '_blank', 'toolbar=yes,scrollbars=yes,resizable=yes,top=50,left=500,width=400,height=500');">비밀번호 찾기</div>
	  	<!-- class="w-30 btn btn-lg btn-primary" -->
	  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="signUp" id="signUpBtn" style="cursor:pointer;" onclick="window.open('memberInsertForm', '_blank', 'toolbar=yes,scrollbars=yes,resizable=yes,top=50,left=500,width=400,height=700');">회원가입</div>
	    <!-- class="w-50 btn btn-lg btn-primary-up" -->
	    </div>
	  </form> 
	
	  <footer>
	    <p class="mt-5 mb-3 text-muted">&copy; Movie Mentor 2021</p>
	  </footer>
	  </div>
	</main>
	
	<main class="form-signin" th:fragment="Logined">
		<div>
			<a href="home">홈으로 가기</a>	
		</div>
	
	  <footer>
	    <p class="mt-5 mb-3 text-muted">&copy; Movie Mentor 2021</p>
	  </footer>
	</main>
	
	<main class="container" th:fragment="signUp">
            <div class="page-header">
                <div class="col-md-6 col-md-offset-3">
                <h3>회원가입</h3>
                <h5>id는 수정 불가하니 신중히 입력해주세요.</h5>
                </div>
            </div>
            <div class="col-sm-6 col-md-offset-3">
                <form role="form" >
                    <div class="form-floating">
                    	<label for="floatingInput">성명</label>
				      	<input type="text" class="form-control" id="floatingName" placeholder="이름을 입력해주세요" required/>
				    </div>
				    <div class="form-floating">
				    	<label for="floatingInput">ID</label>
				      	<input type="email" class="form-control" id="floatingID" placeholder="name@example.com" required/>
				    </div>
				    <span class="phone-box">
				    <div class="form-floating">
				   	 	<label for="floatingPhone">Phone</label>
				   	 	<div id="phone-box">	
				      	<input type="tel" class="form-control" id="inputPhoneNumber" placeholder="숫자만 입력해주세요" required />
				      	&nbsp;&nbsp;<input type="button" id="sendPhoneNumber" class="btn btn-primary" value="인증번호 발송" >
				    	</div>
				    </div>
				    </span>
				
				    <div class="form-floating">
				   	 	<label for="floatingPassword">Password</label>	
				      	<input type="password" class="form-control" id="floatingPassword" placeholder="Password" required/>
				    </div>
				    
				    
				    <div class="form-floating">
				    	<label for="floatingInput">영화 취향 선택(필수)</label>
				    	<br>
				    	<label><input type="checkbox" name="preference" value="미스터리">미스터리</label>
				    	<label><input type="checkbox" name="preference" value="스릴러">스릴러</label>
				    	<label><input type="checkbox" name="preference" value="다큐멘터리">다큐멘터리</label>
				    	<label><input type="checkbox" name="preference" value="애니메이션">애니메이션</label>
				    	<label><input type="checkbox" name="preference" value="코미디">코미디</label>
				    	<label><input type="checkbox" name="preference" value="가족">가족</label>
				    	<label><input type="checkbox" name="preference" value="판타지">판타지</label>
				    	<label><input type="checkbox" name="preference" value="공연실황">공연실황</label>
				    	<label><input type="checkbox" name="preference" value="모험">모험</label>
				    	<label><input type="checkbox" name="preference" value="드라마">드라마</label>
				    	<label><input type="checkbox" name="preference" value="멜로/로맨스">멜로/로맨스</label>
				    	<label><input type="checkbox" name="preference" value="액션">액션</label>
				    	<label><input type="checkbox" name="preference" value="공포">공포</label>
				    	<label><input type="checkbox" name="preference" value="범죄">범죄</label>
				    	<label><input type="checkbox" name="preference" value="서스펜스">서스펜스</label>
				    	<label><input type="checkbox" name="preference" value="SF">SF</label>
				    	<label><input type="checkbox" name="preference" value="뮤지컬">뮤지컬</label>
				    </div>
				    
                    <div class="form-group text-center">
                        <input type="button" id="memberInsertBtn" class="btn btn-primary" value="회원가입" >
                        <input type="button" class="btn btn-warning" value="취소" onClick="window.close()">
                        </button>
                    </div>
                </form>
            </div>

        </main>
	
</body>
</html>